body{
    padding: 0;
    margin: 0;
    background: black;
    color: rgb(231, 50, 50);
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
    font-family: 'Orbitron', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;/* vertcally align  */
    justify-content: center;/* horizontally align  */
}

.clock{
    position: relative;
    font-size: 120px;
    border: 5px solid red;
    padding: 40px;
}